.agify-block {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.agify-form {
  margin: 0 auto;
}

.agify-form__answer {
  color: rgba(83, 20, 57, 0.61);
  font-weight: 600;
  font-size: 20px;
}

.agify-form__error {
  color: rgba(176, 2, 2, 0.61);
  font-size: 14px;
}
